body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 12px;
}
header{
  text-align: center;
  margin-bottem: 1rem;
}
h1{
  color: blue;
  text-align: center;
  margin-bottom: 0.3rem;
}
p{
  color: darkgrey;
}
.controls{
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  color: black;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.controls label{
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  gap: 6px;
}
select{
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 6px;
  background-color: white;
}
footer{
  text-align: center;
  font-size: 0.8rem;
  color: grey;
  margin-top: 10px;
}
.chartSection{
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 1rem;
}
#frqChart{
  width: 100% !important;
  height: 300px !important;
  max-width:600px;
  max-height:600px;
}
